<h2>Hi <%= @user.name%></h2>

		You Signed Up successfully and you can <a href="http://webhook-two-app.herokuapp.com/user/webhook">Sign In</a> now for More information.
		<br/>
		Please feel free to contact us at mail : mail4hiremath@gmail.com and phone : +91 9731937369
		<br/>

With Best Regards,<br/>
Shivakumar

<hr> 

<h4>Shivakumar</h4>
Product Manager - Webhook-two-app Team<br/>
Follow us on <a href="http://webhook-two-app.herokuapp.com/user/webhook">Webhook-two-app</a> 